<?xml version="1.0" encoding="UTF-8"?>
<launch>

  
  <include file="$(find node_counting_alg)/launch/world_init.launch">
    <arg name="world" value="easy" />
  </include>

  
  <param name="lin_vel" value=".9"/>
  <param name="ang_vel" value=".3"/>

  
  <param name="map_size" value="11"/>

  
  <param name="num_robot" value="1"/>
  <node name="common_mapper" pkg="test_alg" type="common_mapper_node" output="screen"/>

  
  <include file="$(find node_counting_alg)/launch/spawn_robot.launch">
    <arg name="ns" value="robot1"/>
    <arg name="robID" value="1"/>

    <arg name="X" value="6"/>
    <arg name="Y" value="5"/>
    <arg name="Z" value="0"/>

    <arg name="des_x" value="5"/>
    <arg name="des_y" value="5"/>

    <arg name="random_planning" value="false"/>
    <arg name="pkg" value="node_counting_alg"/>
    <arg name="xacro_file" value="urdf/kobu.xacro"/>
    <arg name="xacro_name" value="hol"/>
  </include>

</launch>
