<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ns" default="robot1"/>
  <arg name="X" default="0"/>
  <arg name="Y" default="0"/>
  <arg name="Z" default="0"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find kobu_description)/urdf/kobu_circle_body.xacro" />

  <group ns="$(arg ns)">
    <param name="robot_description" command="$(find xacro)/xacro $(find kobu_description)/urdf/kobu_circle_body.xacro" />
    <param name="tf_prefix" value="$(arg ns)"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" args="-urdf -model $(arg ns)/kobu -param robot_description -x  $(arg X) -y  $(arg Y) -z  $(arg Z)"/>

    <node name="move_distance_server" pkg="kobu_control" type="move_distance_server" args="$(arg ns)"/>
    <node name="move_distance_client" pkg="kobu_control" type="move_distance_client" args="$(arg ns)"/>
  </group>
</launch>
